/* --- Basic Setup --- */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar customize  */
::-webkit-scrollbar {
  width: 5px;
  height: 100px;
}

::-webkit-scrollbar-thumb {
  background: #dfdada;
}

::-webkit-scrollbar-thumb:hover {
  background: #2fcd71;
}

/* --- Reusable class --- */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/* tooltip styles */
.tooltip {
  @apply absolute left-full top-1/2 -translate-y-1/2 ml-2 opacity-0 group-hover:opacity-100 bg-[#41BF81] text-white text-xs rounded px-2 py-1 transition-opacity duration-300 before:content-[''] before:absolute before:-left-2 before:top-1/2 before:-translate-y-1/2 before:border-[4px] before:border-transparent before:border-r-[#41BF81];
}

/* link active & inActive */
.active {
  @apply text-[#41BF81] text-[28px];
}
.inActive {
  @apply text-[28px] hover:text-[#41BF81];
}
