/* --- Basic Setup --- */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- scrollbar customize ---  */
::-webkit-scrollbar {
  width: 5px;
  height: 100px;
}

::-webkit-scrollbar-thumb {
  background: #dfdada;
}

::-webkit-scrollbar-thumb:hover {
  background: #2fcd71;
}

/* --- Hide Scroll Bar --- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* --- Reusable class --- */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/* --- tooltip styles --- */
.tooltip {
  @apply absolute z-20 left-full top-1/2 -translate-y-1/2 ml-2 opacity-0 group-hover:opacity-100 bg-[#41BF81] text-white text-xs rounded px-2 py-1 transition-opacity duration-300 before:content-[''] before:absolute before:-left-2 before:top-1/2 before:-translate-y-1/2 before:border-[4px] before:border-transparent before:border-r-[#41BF81];
}

/* --- link active & inActive --- */
.active {
  @apply text-[#41BF81] text-[28px];
}
.inActive {
  @apply text-[28px] hover:text-[#41BF81];
}

/* --- Modal --- */
.p-dialog-header {
  padding-top: 5px;
  padding-right: 5px;
}

/* --- Mobile nav Slide Effect start --- */
.overly-effect {
  text-align: center;
  color: white;
  padding: 1.25rem 0;
  z-index: 50;
  position: fixed;
  inset: 0;
  background-color: rgba(65, 191, 129, 0.9);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.overly-effect.open {
  transform: translateX(0);
}

.overly-effect.close {
  transform: translateX(-100%);
}
